@import './base.css';

#app {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
/* background-color: rgb(0, 0, 241); */
  /* margin: 0 auto;  */
   padding: 2rem;
   

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: black;
  font-family: "montserrat", sans-serif;
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    color: blue;
    
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
